@model InventoryManagement.ViewModel.ItemBasicCreateViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "商品資料建立";
}
<style>
    .control-label {
        display: block
    }

    .form-select {
        padding:.375rem .75rem;
        width:100%
    }

    #message {
        color: red; 
    }
</style>

<h1>商品資料建立</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="News.ItemCode" class="control-label">商品貨號</label>
                <input asp-for="News.ItemCode" class="form-control" disabled />
                 <span asp-validation-for="News.ItemCode" class="text-danger"></span>
            </div><br>*@
            <div class="form-group">
                <label asp-for="News.ItemName" class="control-label">商品名稱</label>
                <input asp-for="News.ItemName" class="form-control" />
                <span asp-validation-for="News.ItemName" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="News.Spec" class="control-label">商品分類</label>
                <select asp-for="News.Spec" asp-items="Model.SpecList" class="form-select">
                    @*<option value="">==請選擇分類==</option>*@
                </select>
                <span asp-validation-for="News.Spec" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="News.Unit" class="control-label">單位</label>
                <select asp-for="News.Unit" asp-items="Model.UnitList" class="form-select">
                    @*<option value="">==請選擇單位==</option>*@
                </select>
                <span asp-validation-for="News.Unit" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="News.Status" class="control-label">狀態</label>
                <select asp-for="News.Status" asp-items="Model.StatusList" class="form-select">
                    @*<option value="">==請選擇狀態==</option>*@
                </select>
                <span asp-validation-for="News.Status" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="News.Img" class="control-label">上傳圖片</label>
                <input asp-for="News.Img" accept="image/*" type="file" name="myimg" id="myimg" multiple class="form-control">
                <span asp-validation-for="News.Img" class="text-danger"></span>
                <p id="message"></p>
            </div><br>
            <div class="form-group">
                <img id="preview" style="max-height:200px;" />
            </div><br>

            @Html.ValidationMessageFor(model => model.News, "", new { @class = "text-danger" })
            <div class="form-group">
                <input type="submit" value="存檔" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回首頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    const fileInput = document.getElementById('myimg');
    const message = document.getElementById('message');

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];

        // 釋放記憶體
        if (file && window.previewObjectURL) {
            URL.revokeObjectURL(window.previewObjectURL);
        }

        if (file) {
            const fileType = file.type;
            const fileSize = file.size;

            // 確認檔案是否為圖片
            if (!fileType.startsWith('image/')) {
                message.textContent = '請上傳有效的圖片檔案！';
                fileInput.value = ''; 
                document.getElementById('preview').src = ''; 
            }

            // 不可以上傳超過 5MB 的檔案
            else if (fileSize > 5 * 1024 * 1024) {
                message.textContent = '圖片檔案過大！請選擇小於5MB的圖片。';
                fileInput.value = ''; // 
                document.getElementById('preview').src = ''; 
            }
            else 
            {
                message.textContent = ""; 

                const objectURL = URL.createObjectURL(file);
                window.previewObjectURL = objectURL;

                // 顯示上傳圖片
                document.getElementById('preview').src = objectURL;
            }
        }
    });
</script>
