@model InventoryManagement.ViewModel.ItemBasicsEditViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "商品修改";
}
<style>
    #message {
        color: red;
    }
</style>
<h1>商品資料修改</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="News.ItemCode" />
            <div class="form-group">
                <label asp-for="News.ItemName" class="control-label">商品名稱</label>
                <input asp-for="News.ItemName" class="form-control" required >
                <span asp-validation-for="News.ItemName" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="hidden" asp-for="News.SpecName" />
                <input type="hidden" asp-for="News.Spec" />
                <label asp-for="News.SpecName" class="control-label">分類(不可修改)</label>
                <input asp-for="News.SpecName" class="form-control" disabled>
                <span asp-validation-for="News.Spec" class="text-danger"></span>
            </div><br>           
            <div class="form-group">
                <label asp-for="News.Status" class="control-label">狀態</label>
                <select name="News.Status" class="form-select">
                    @foreach (var temp in Model.StatusList)
                    {
                        if (temp.Value == ViewBag.selectStatus)
                        {
                            <option value="@temp.Value" selected>@temp.Text</option>
                        }
                        else
                        {
                            <option value="@temp.Value">@temp.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="News.Status" class="text-danger"></span>
            </div><br>
            
            <div class="form-group" >
                <label asp-for="News.NewImg" class="control-label">上傳圖片</label>
                <input asp-for="News.NewImg" accept="image/*" type="file" name="myimg" id="myimg" multiple class="form-control">
                <p id="message"></p>
            </div><br>

            @*顯示原來照片*@
            @if (!string.IsNullOrEmpty(Model.imageBase64))
            {
                <img id="preview" src="data:image/png;base64,@Model.imageBase64" style="max-height:200px;" />
            }

            <div class="form-group">
                <img id="preview" style="max-height:200px;" />
            </div><br>
            <input type="hidden" asp-for="News.Img" >
            <div class="form-group">
                <input type="submit" value="存檔" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回首頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    const fileInput = document.getElementById('myimg');
    const message = document.getElementById('message');

    fileInput.addEventListener('change', (event) => {
        const file = event.target.files[0];

        // 釋放記憶體
        if (file && window.previewObjectURL) {
            URL.revokeObjectURL(window.previewObjectURL);
        }

        if (file) {
            const fileType = file.type;
            const fileSize = file.size;

            // 確認檔案是否為圖片
            if (!fileType.startsWith('image/')) {
                message.textContent = '請上傳有效的圖片檔案！';
                fileInput.value = '';
                document.getElementById('preview').src = '';
            }

            // 不可以上傳超過 5MB 的檔案
            else if (fileSize > 5 * 1024 * 1024) {
                message.textContent = '圖片檔案過大！請選擇小於5MB的圖片。';
                fileInput.value = ''; //
                document.getElementById('preview').src = '';
            }
            else {
                message.textContent = "";

                const objectURL = URL.createObjectURL(file);
                window.previewObjectURL = objectURL;

                // 顯示上傳圖片
                document.getElementById('preview').src = objectURL;
            }
        }
    });
</script>
